body {
    margin: 0;
    background-color: cadetblue;
}

.navbar-brand {
    transition: margin-left 1.7s;
    font-style: italic;
    text-transform: capitalize;
    transform: rotate(-10deg);
    margin-left: 1em;
}

.navbar-brand:hover {
    transition: margin-left 1.7s ease-in-out;
    margin-left: 1.5em; /* Example movement */
    color: rgb(242, 124, 124);
}
