body {
    margin: 0;
    background-color: #fcfffe; /* Light mint green background */
    font-family: Arial, sans-serif; /* Default font-family */
}

img {
    width: 100%;
    transform: rotate(-10deg); /* Initial rotation */
    box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.3); /* Subtle red shadow with opacity */
    margin-left: 0;
}

img:hover {
    transform: rotate(0deg); /* Reset rotation on hover */
    margin-left: 6em;
    box-shadow: 4px 8px 12px rgba(154, 241, 159, 0.3); /* Subtle red shadow with opacity */
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out, margin-left 0.9s ease-in-out; /* Smooth transitions */
}
